.container {
  display: flex;
  width: 100%;
}
.textcard {
  width: 50%;
  text-align: justify;
}
.textcardh1 {
  width: 70%;
}
.textcardp {
  width: 75%;
}

.card {
  display: absolute;
  width: 40%;
  margin: 1.66%;
  padding: 1rem;
  box-sizing: border-box;
  height: 32vh;
  border-radius: 20px;
  border: 0;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card-container {
  display: flex;
  float: right;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0069d9;
}
.card {
  float: right;
}
